<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>151605161949-vtlh32c8qaml0cbmfs1jp7eahfcso9d5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.151605161949-vtlh32c8qaml0cbmfs1jp7eahfcso9d5</string>
	<key>API_KEY</key>
	<string>AIzaSyCn7TPlQvVQOo9P71s8ZK_QgrYvvnN50Bw</string>
	<key>GCM_SENDER_ID</key>
	<string>151605161949</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.desafiomobile</string>
	<key>PROJECT_ID</key>
	<string>desafiomobile-3307a</string>
	<key>STORAGE_BUCKET</key>
	<string>desafiomobile-3307a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:151605161949:ios:10d3df819fb1a915529034</string>
</dict>
</plist>